header{
    .nav-taximo{
        .navbar-light .navbar-nav {
            .nav-item{
                margin: 0 15px;

                &:last-child{
                    margin-right: 0;
                }
    
                &.country-flag .nav-link{
                    font-size: 10px;
                    line-height: 24px;
                }
    
                .nav-link{
                    font-family: 'Futura Book', sans-serif;
                    color: $colorFont;
                }
            }
        }
    }

    .carousel-taximo{
        position: relative;

        .carousel .carousel-item{
            width: 100%;
            padding-bottom: 45%;
            
            @include media-breakpoint-up(sm) {
                padding-bottom: 31%;
            }

            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 177% !important;
                
                @include media-breakpoint-up(sm) {
                    width: 126% !important;
                }
            }

            .container{
                position: absolute;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
            }

            .carousel-caption{
                bottom: auto;
                text-align: left;
                left: 0;
                margin: 0;
                top: 10%;
                width: 80%;
                padding: 0 15px;

                @include media-breakpoint-up(sm) {
                    top: 26%;
                    padding: 0;
                }
                
                @include media-breakpoint-up(md) {
                    width: 52%;
                }


                h5{
                    color: #FFF;
                    font-weight: 200;
                    font-size: 16px;
                    font-family: "Futura Book", sans-serif;
                    text-shadow: rgb(34, 34, 34) 2px 2px 5px !important;
                    margin-bottom: 25px;
                    
                    @include media-breakpoint-up(sm) {
                        font-size: 20px;
                    }
                    
                    @include media-breakpoint-up(xl) {
                        font-size: 30px;
                    }
                }

                .btn-primary{
                    background-color: #0CC6DE;
                    border: 0;
                    transition: background-color .4s ease;
                    font-size: .6rem;
                    
                    @include media-breakpoint-up(sm) {
                        font-size: .8rem;
                    }

                    @include media-breakpoint-up(xl) {
                        font-size: 1rem;
                    }

                    &:hover, &:active, &:focus, &:hover:focus{
                        background-color: #FFA02F !important;
                    }
                }
            }
        }

        .contact{
            background-color: rgba(255,255,255,0.85) !important;
            z-index: 1;
            width: 100%;
            position: relative;
            
            .nav{
                display: block;
                text-align: right
            }

            @include media-breakpoint-up(lg) {
                padding: 10px 0;
            }

            @include media-breakpoint-up(md) {
                position: absolute;
                bottom: 0;

                .nav{
                    display: flex;
                    text-align: left;
                }
            }

            .nav-item{
                
                @include media-breakpoint-up(md) {
                    margin: 0 20px;
                }

                &:last-child{
                    margin-right: 0;
                }

                .nav-link{
                    color: $colorFont;
                    font-weight: 400;
                    font-size: 18px;
                    padding: .5rem 0;
                    margin-bottom: 0;

                    small{
                        display: block;
                        font-weight: 700;
                        color: #0cc5de;
                        font-size: 13px;
                    }
                    
                    @include media-breakpoint-up(lg) {
                        font-size: 23px;

                        small{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}