.section{
    padding: 50px 0 45px;

    &.section-counter{
        background-color: #0cc6dd;
        
        @include media-breakpoint-up(md) {
            background-image: url('../img/section1.jpg');
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat; 
            overflow: hidden;
        }

        h1, h2{
            font-family: "Futura Book", sans-serif;
            text-align: center;
            color: #FFF;

            small{
                color: $colorFont;
                font-size: 15px;
                display: block;
                padding-top: 10px;
                
                @include media-breakpoint-up(md) {
                    font-size: 17px;
                }
            }
        }

        h1{
            font-size: 45px;
            margin-bottom: 50px;

            @include media-breakpoint-up(md) {
                font-size: 58px;
            }
        }

        h2{
            font-size: 40px;
            
            small{
                padding-top: 0px;                
            }
            
            @include media-breakpoint-up(md) {
                font-size: 37px;
            }
            
            @include media-breakpoint-up(lg) {
                font-size: 50px;
            }
        }

        .list{
            margin: 0;
            padding: 0;
            list-style: none;

            li{
                display: block;

                @include media-breakpoint-up(md) {
                    float: left;
                    width: 25%;
                }
            }
        }

        .btn.btn-info{
            font-size: 18px;
            border-radius: 2px;
            background-color: #51626f;
            color: #FFF;
            margin-top: 40px;
            padding: 17px 40px;
            transition: background-color .4s ease;
            border-width: 0;

            &:hover, &:active, &:focus, &:hover:focus{
                background: #0a9baf;
            }
        }
    }
}